<% if [:error, :notice, :alert].any?{ |x| flash[x] } %>
  <ul data-role="listview" data-inset="true">
    <% [:error, :notice, :alert].each do |x| if flash[x] %>
      <li><%= flash[x] %></li>
    <% end end %>
  </ul>
<% end %>
